<header id="header">

	<div class="top">
		<div class="container">
			<div class="level is-mobile">
				<div class="level-left">
					<div class="level-item"><i class="fa fa-phone"></i> (423) 202-3228</div>
				</div>
				<div class="level-right">
					<a class="level-item social-link" href="https://www.facebook.com/rbitricities" target="_blank"><i class="fa fa-facebook-official"></i></a>
					<a class="level-item social-link" href="https://twitter.com/rbitricities" target="_blank"><i class="fa fa-twitter"></i></a>
					<a class="level-item social-link" href="http://instagram.com/rbitricities/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="navbar-wrap">
		<div class="container">
			<nav class="navbar is-transparent">
				<div class="navbar-brand">
					<a class="navbar-item" href="/">
						<img class="logo" src="/images/rbi-tri-cities-logo.png" alt="RBI Tri-Cities">
					</a>
					<div class="navbar-burger" data-target="navMenu">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="navMenu" class="navbar-menu">
					<div class="navbar-start">
						{{# navLinks }}
							{{#if link}}
								<a href="{{ link }}" class="navbar-item {{#isNavItemActive ../reqPath link}}{{/isNavItemActive}}">{{ title }}</a>
							{{/if}}
							{{#if dropdown}}
								<div class="navbar-item has-dropdown is-hoverable">
									<div class="navbar-link">{{ title }}</div>
									<div class="navbar-dropdown">
										{{# dropdown }}
											<a href="{{ link }}" class="navbar-item {{#isNavItemActive ../../reqPath link}}{{/isNavItemActive}}">{{ title }}</a>
										{{/ dropdown }}
									</div>
								</div>
							{{/if}}
						{{/ navLinks }}
					</div>
					<div class="navbar-end"></div>
				</div>
			</nav>
		</div>
	</div>

</header>
