<!DOCTYPE HTML>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' *.healcode.com *.amplitude.com localhost:* 127.0.0.1:*; frame-src *.healcode.com">

	<title>{{ metaTitle }}</title>
	<meta name="description" content="{{ metaDesc }}">

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@rbitricities" />
	<meta name="twitter:title" content="{{ metaTitle }}" />
	<meta name="twitter:description" content="{{ socialMetaDesc }}" />
	<meta name="twitter:image" content="https://rbitricities.com/images/social-inside-view.jpg" />

	<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

  {{#if is_dev }}
      <link rel="stylesheet" href="/styles/main.css"/>
  {{else}}
      <link rel="stylesheet" href="/styles/main.min.css"/>
	  <script async src="/scripts/google-analytics.js"></script>
  {{/if}}

</head>
<body>

    {{> header }}

    <div id="barba-wrapper">
    	<div class="barba-container" data-namespace="{{ namespace }}">

            {{{ body }}}

        </div>
    </div>

    {{> footer }}

	<script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>

    {{#if is_dev }}
        <script src="/scripts/main.js"></script>
        <script src="http://localhost:35729/livereload.js"></script>
    {{else}}
        <script src="/scripts/main.min.js"></script>
    {{/if}}

</body>
</html>
