<section class="section" id="annual-camps">
    <div class="container">

        <h1 class="title is-spaced">Annual Camps</h1>
        <hr>

        <div class="content">
            <p>Below is a list of the Camps we offer throughout the year, each year. When we schedule camps in the current year, you can find them on our Upcoming Events page and on Social Media. Check the <a href="/events">Upcoming Events</a> page for details on this year's events and to reserve your spot.</p>
        </div>

        <div class="columns is-multiline">

            {{#if camps}}
                {{# camps }}
                <div class="column is-half">
                    <div class="card camp">
                        {{#if fields.campImage}}
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="{{ fields.campImage.fields.file.url }}" alt="{{ fields.campImage.fields.file.title }}">
                                </figure>
                            </div>
                        {{/if}}
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ fields.campName }}</p>
                                    <div class="meta">{{ fields.campDates }}</div>
                                    <div class="meta">{{ fields.ageRange }}</div>
                                </div>
                            </div>
                            <div class="content">
                                <p>{{ fields.campDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/ camps }}
            {{else}}
                <div class="no-events">No annual camps at this time</div>
            {{/if}}

    </div>

</div>
</section>
