<section class="section" id="hittrax-monthly-leaders">
    <div class="container">

        <h1 class="title is-spaced">HitTrax Monthly Leaders - Top 25</h1>
        <h2 class="subtitle">Who's leading at RBI this month?</h2>
        <hr>

        <h3 class="title is-4">{{ month }}</h3>

        <div class="table-responsive">
            <table class="table hittrax-leaders is-hoverable is-fullwidth is-bordered">
                <thead>
                    <th>Player</th>
                    <th>Level</th>
                    <th title="At Bats">AB</th>
                    <th title="Batting Average">Avg</th>
                    <th title="Slugging Percentage">SLG</th>
                    <th title="Extra Base Hits">EBH</th>
                    <th title="Hard Hit Average">HHA</th>
                    <th title="Average Velocity">AvgVel</th>
                    <th title="Max Velocity">MaxVel</th>
                    <th title="Max Distance">MaxDist</th>
                </thead>
                <tbody>
                    {{#if leaders}}
                        {{# leaders }}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ level }}</td>
                                <td>{{ atBats }}</td>
                                <td>{{ avg }}</td>
                                <td>{{ slg }}</td>
                                <td>{{ ebh }}</td>
                                <td>{{ hha }}</td>
                                <td>{{ avgvel }}</td>
                                <td>{{ maxvel }}</td>
                                <td>{{ maxdist }}</td>
                            </tr>
                        {{/ leaders }}
                    {{else}}
                        <tr class="no-leaders"><td colspan="10">No leaders at this time</td></tr>
                    {{/if}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10"><p>* To Qualify, a player must have atleast 30 At Bats</p></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="content">
            <p>These statistics are taken from RBI's HitTrax database. Feel free to sort by player name, statistical category, or age group to compare this month's batting leaders at RBI Tri-Cities</p>
        </div>
    </div>
</section>
