<section class="section" id="hittrax-monthly-leaders">
    <div class="container">

        <h1 class="title is-spaced">HitTrax Monthly Leaders - Top 25</h1>
        <h2 class="subtitle">Who's leading at RBI this month?</h2>
        <hr>

        <h3 class="title is-4">{{ month }}</h3>

        <div class="table-responsive">
            <table id="hittrax-leaders" class="table is-hoverable is-fullwidth is-bordered" data-sortable>
                <thead>
                    <th data-sortable="false">Player</th>
                    <th data-sortable="false">Level</th>
                    <th data-sortable-type="numeric" title="At Bats" class="has-text-centered">AB</th>
                    <th data-sortable-type="numeric" title="Batting Average" class="has-text-centered">Avg</th>
                    <th data-sortable-type="numeric" title="Slugging Percentage" class="has-text-centered">SLG</th>
                    <th data-sortable-type="numeric" title="Extra Base Hits" class="has-text-centered">EBH</th>
                    <th data-sortable-type="numeric" title="Hard Hit Average" class="has-text-centered">HHA</th>
                    <th data-sortable-type="numeric" title="Average Velocity" class="has-text-centered">AvgVel</th>
                    <th data-sortable-type="numeric" title="Max Velocity" class="has-text-centered">MaxVel</th>
                    <th data-sortable-type="numeric" title="Max Distance" class="has-text-centered">MaxDist</th>
                </thead>
                <tbody>
                    {{#if leaders}}
                        {{# leaders }}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ level }}</td>
                                <td class="has-text-centered">{{ atBats }}</td>
                                <td class="has-text-centered">{{ avg }}</td>
                                <td class="has-text-centered">{{ slg }}</td>
                                <td class="has-text-centered">{{ ebh }}</td>
                                <td class="has-text-centered">{{ hha }}</td>
                                <td class="has-text-centered">{{ avgvel }}</td>
                                <td class="has-text-centered">{{ maxvel }}</td>
                                <td class="has-text-centered">{{ maxdist }}</td>
                            </tr>
                        {{/ leaders }}
                    {{else}}
                        <tr class="no-leaders"><td colspan="10">No leaders at this time</td></tr>
                    {{/if}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10"><p>* To Qualify, a player must have atleast 30 At Bats</p></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="content">
            <p>These statistics are taken from RBI's HitTrax database. Player swings could be taken off of the tee, during soft toss, front toss, live batting practice, or some combination of them all. Regardless, all hits and outcomes come against fields and defenses that are scaled to each player's level. Feel free to sort by player name, statistical category, or age group to compare this month's batting leaders at RBI Tri-Cities. Congrats to this month's Top 25!</p>
        </div>
    </div>
</section>
