<section class="section" id="hittrax-monthly-leaders">
    <div class="container">

        <h1 class="title is-spaced">HitTrax Monthly Leaders - Top 25</h1>
        <h2 class="subtitle">Who's leading at RBI this month?</h2>
        <hr>

        <h3 class="title is-4">{{ month }}</h3>

        <div class="table-responsive">
            <table id="hittrax-leaders" class="table is-hoverable is-fullwidth is-bordered" data-sortable>
                <thead>
                    <th>Player</th>
                    <th>Level</th>
                    <th title="At Bats" class="has-text-centered">AB</th>
                    <th title="Batting Average" class="has-text-centered">Avg</th>
                    <th title="Slugging Percentage" class="has-text-centered">SLG</th>
                    <th title="Extra Base Hits" class="has-text-centered">EBH</th>
                    <th title="Hard Hit Average" class="has-text-centered">HHA</th>
                    <th title="Average Velocity" class="has-text-centered">AvgVel</th>
                    <th title="Max Velocity" class="has-text-centered">MaxVel</th>
                    <th title="Max Distance" class="has-text-centered">MaxDist</th>
                </thead>
                <tbody>
                    {{#if leaders}}
                        {{# leaders }}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ level }}</td>
                                <td class="has-text-centered">{{ atBats }}</td>
                                <td class="has-text-centered">{{ avg }}</td>
                                <td class="has-text-centered">{{ slg }}</td>
                                <td class="has-text-centered">{{ ebh }}</td>
                                <td class="has-text-centered">{{ hha }}</td>
                                <td class="has-text-centered">{{ avgvel }}</td>
                                <td class="has-text-centered">{{ maxvel }}</td>
                                <td class="has-text-centered">{{ maxdist }}</td>
                            </tr>
                        {{/ leaders }}
                    {{else}}
                        <tr class="no-leaders"><td colspan="10">No leaders at this time</td></tr>
                    {{/if}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10"><p>* To Qualify, a player must have atleast 30 At Bats</p></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="content">
            <p>These statistics are taken from RBI's HitTrax database. Feel free to sort by player name, statistical category, or age group to compare this month's batting leaders at RBI Tri-Cities</p>
        </div>
    </div>
</section>
