<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Instructors</h1>
        <hr>

        <div class="content">
            <p>Each instructor below is available for private lesson scheduling throughout the year. Some instructors are gone throughout the summer and only with us in the offseason. Most instructors work with players on a weekly basis. For availability and scheduling, just give us a call!</p>
        </div>

        <div class="columns is-multiline">
            {{#each instructors }}
                <div class="column is-half">
                    <div class="card instructor">
                        <div class="info">
                            <img class="headshot" src="{{ fields.headshot.fields.file.url }}" alt="{{ fields.headshot.fields.title }}">
                            <div class="title is-4 name">{{ fields.name }}</div>
                            <div class="specialties">
                                {{# each fields.specialties}}
                                    <span class="tag is-info">{{ . }}</span>
                                {{/each}}
                            </div>
                        </div>
                        <div class="bio">
                            <p>{{ fields.accolades }}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
