<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Instructors</h1>
        <hr>

        <div class="content">
            <p>Each instructor below is available for private lesson scheduling throughout the year. Some instructors are gone throughout the summer and only with us in the offseason. Most instructors work with players on a weekly basis. For availability and scheduling, just give us a call!</p>
        </div>

        <div class="columns">
            <div class="column is-8">
                <div class="title is-5">Instructors</div>
                {{#each instructors }}
                    <article class="media instructor">
                        <div class="media-left">
                            <div class="image">
                                <img class="headshot" src="{{ fields.headshot.fields.file.url }}" alt="{{ fields.headshot.fields.title }}">
                            </div>
                        </div>
                        <div class="media-content">
                            <div class="info">
                                <div class="name">{{ fields.name }}</div>
                                {{# each fields.specialties}}
                                    <span class="tag is-info">{{ . }}</span>
                                {{/each}}
                            </div>
                            <div class="accolades">{{ fields.accolades }}</div>
                        </div>
                    </article>
                {{/each}}
            </div>
            <div class="column is-4">
                <div class="title is-5">Directory</div>
                <div class="panel">
                    {{#each instructors }}
                        <a class="panel-block">{{ fields.name }}</a>
                    {{/each}}
                </div>
            </div>
    </div>
</section>
